.homepage-link { 
    color: #f60;
    text-decoration: none;
  }
  
  .homepage-link:hover {
    color: rgb(219, 59, 59);
  }
.navbar-link:hover,
.nav-button:hover {
  margin-bottom: 5px;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.nav-link:active {
  margin-top: 2px !important;
}
.signInSideMenu {
  cursor: pointer;
}
.nav-item:hover {
  background-color: rgb(247, 247, 247);
}

.react-chatbot-kit-chat-container {
    margin-left: 200px;
    margin-bottom: 100px;
    border: 1px solid #FFD3A3;
    width: 200px;
  
}

.react-chatbot-kit-chat-container.open {
  width: 300px;
  
}

.react-chatbot-kit-chat-container.minimized {
  width: 50px; 
}




